<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pokemon App</title>
  <style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
  </style>
</head>

<body>
  <h1> See the Pokemons! </h1>
        <ul>
          The names of the Pokemons are, as follows:
          <% for(let i = 0; i < pokemon.length; i++){ %>
            <li> <a href="/pokemon/<%=i%>"</a></li>
              <%= pokemon[i].name %>
                <% } %>
        </ul>
        <script src="app.js" type="text/javascript"></script>
</body>

</html>
