<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pokemons</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <h1 class="gotta">Gotta Catch 'Em All! </h1>


  <h2><%=pokemon.name %></h2>
  <a href="/pokemon/ >" </a>
  <img src="<%=pokemon.img%>"> <br>

  <a href="/pokemon">Back</a>
</body>

</ul>

</body>

</html>


<!-- // add an h2 tag that will display the name of the pokemon
// add an image tag that will display an image of the pokemon
// add an anchor tag with the text of back, that will take you back to your index.ejs view
// update the route in the server.js to render the show view with the pokemon data -->
