<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>New Doggo Page</h1>
<form action="/home" method="POST">
  Name: <input type="text" name="name"><br>
  Breed: <input type="text" name="breed"><br>
  Is Good Boy?: <input type="checkbox" name="isGoodBoy"><br>

  <input type="submit" name="submit" value='submit' id="">
</form>
  </body>
</html>
