<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>

<h1>Doggo...</h1>

  <h3>Doggo's Name Is... <%= doggos.name %></h3>
  <h4>Doggo's Breed Is... <%= doggos.breed %></h4>
  <h4 class><img class="dogImage" id="dogtown" src="<%=doggos.image%>" ></h4>

  <% if(doggos.isGoodBoy === true) {%>
    <span>It is good boy</span>
  <%} else {%>
    <span>It is not good boy</span>
  <% } %>

  </form>
  <br>


  <form method = "POST" action="/home">
    <input type="submit" value="BACK" />


  </body>
</html>
