  body {
    color: blanchedalmond;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

a {
  color: pink;
  font-size: 24px;
  font-style: italic;
}

a:hover {
  color: steelblue;
}

li {
  list-style-type: none;
  padding: 20px 20px;
}

.names {
  text-transform: uppercase;
}

img {
  border-radius: 50%;
}


.gotta {
  /* margin-top: 500px; */
  /* font-size: 62px; */
}
